//sass -w ./assets/styles/scss/styles.scss ./assets/styles/css/styles.css
@font-face {
    font-family: 'Baskervville';
    src: url('./../../fonts/Baskervville/Baskervville-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./../../fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexMono';
    src: url('./../../fonts/IBMPlexMono/IBMPlexMono-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary-color: #4e65b1;
    --secondary-color: #35ddff;
    --background-color: #333366;
    --background-color-alt: #272757;
    --shadow-color: #1a1a3d;
    --text-color: #f1f1f1;
    --text-color-alt: #a3f4ff;
    --font-family: 'Open Sans', sans-serif;
    --mono-font-family: 'IBMPlexMono';
    --header-height: 10vh;
    --filter: invert(80%) sepia(72%) saturate(426%) hue-rotate(157deg) brightness(101%) contrast(101%);
    --filter-alt: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
background-color: var(--background-color-alt);

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: var(--font-family);
        color: var(--text-color);
        font-size: 1rem;
        background: linear-gradient(
            140deg, 
            var(--primary-color), 
            var(--background-color-alt), 
            var(--background-color)
        );
        line-height: 1.6;
        min-height: 100vh;
        transition-duration: 500ms;

        @media (max-width: 768px) {
                    font-size: .95rem;
        }

        h1, h2, h3 {
            font-family: 'Baskervville';
            margin-bottom: 10px;
        }
        
        p {
            text-overflow: clip;
            text-align: justify;
            overflow: hidden;
        }

        a {
            color: var(--text-color-alt);
            text-decoration: none;
            transition: color 0.3s ease;
        }

        a:hover {
            color: var(--text-color);
            text-decoration: underline;
        }

        hr {
            color: var(--secondary-color);
            border-width: 2px;
            border-radius: 10%;
        }

        h1 {
            font-weight: bold;
            font-size: 1.8rem;
        }

        h2 {
            font-weight: bold;
            font-size: 1.6rem;
        }
    
        .text-xl {
            h1 {
                font-size: 2.2rem;
            }

            h2 {
                font-size: 1.8rem;
            }

            p {
                font-size: 1.3rem;
            }
        }
        
        header {
            background: linear-gradient(70deg, var(--primary-color), var(--background-color));
            color: #fff;
            width: 100vw;
            min-height: var(--header-height);
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: space-between;
            padding: 0 20px;
            border-bottom: var(--secondary-color) 2px solid;
            border-right: var(--secondary-color) 2px solid;
            border-bottom-right-radius: 2vw;
            gap: 10px;

            h1 {
                display: flex;
                align-items: center;
                margin: 0;

                a {
                    font-size: 1.5rem;
                }

                img {
                    object-fit: contain;
                }
            }
            
            nav {                
                display: flex;
                flex-direction: row;
                align-items: center;
                
                ul.menu {
                    list-style: none;
                    display: flex;
                    gap: 20px;

                    li {
                        display: flex;
                        border-radius: 8px;
                        box-shadow: var(--background-color-alt)  5px 5px 10px;
                        transition: color 0.3s ease;
                        padding: 5px 8px;

                        a {
                            width: 100%;
                            color: var(--text-color-alt);
                            text-decoration: none;
                            font-weight: bold;
                        }
                        
                        &:hover {
                            background-color: var(--background-color-alt);
                            box-shadow: var(--background-color)  3px 3px 4px;
                        }
                    }

                    .menu-selected {
                        background-color: var(--background-color-alt);
                        border: 1px solid var(--secondary-color);
                    }
                }

                .menu-toggle {
                    display: none;
                    background: none;
                    border: none;
                    font-size: 2rem;
                    color: var(--text-color);
                    cursor: pointer;
                    padding: 0;
                }

                @media (max-width: 768px) {
                    ul.menu {
                        display: none;
                        flex-direction: column;
                        background: var(--primary-color);
                        position: absolute;
                        top: var(--header-height);
                        right: 0;
                        width: 100%;
                        padding: 10px 0;
                    }
                        
                    .menu-item {
                        text-align: center;
                        padding: 10px 0;
                    }

                    .section-list {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                    }
                    
                    .menu-toggle {
                        font-size: 3rem;
                        display: block;
                        padding: 0;
                    }
                    
                    ul.menu.active {
                        display: flex;
                    }
                } 
            }

            @media (max-width: 400px) {
                h1 {
                    display: flex;
                    flex-direction: row;

                    a {
                        display: flex;
                        flex-direction: column;
                        font-size: 1.2rem;
                    }
                }
            }
        }
        
        main {
            min-height: 80vh;
            padding: 20px;
            margin: 0 10vw;
            
            section {
                margin-bottom: 40px;
                
                h1, h2, h3 {
                    color: var(--secondary-color);
                    margin-bottom: 10px;
                }

                p {
                    margin-bottom: 10px;
                }

                img.svg {
                    filter: var(--filter);
                    transition: filter 0.3s ease;
                    
                    &:hover {
                        filter: var(--filter-alt);
                    }
                }
                
                .card-list {
                    ul {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        gap: 10px;
                        
                        li {
                            display: flex;
                            align-items: center;
                            align-content: center;
                            justify-content: center;
                            flex-grow: 1;
                            gap: 10px;
                            list-style: none;
                            border: 1px solid transparent;
                            border-radius: 8px;
                            transition-duration: 300ms;
                            transition-timing-function: ease-out;
                            box-shadow: var(--shadow-color)  5px 5px 4px;

                            @media (max-width: 768px) {
                                min-width: 300px;
                            }
                            
                            div {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                gap: 10px;
                            }

                            a {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                gap: 10px;
                                color: var(--text-color);
                            }
                        }

                        li:hover{
                            background-color: var(--primary-color);
                            box-shadow: var(--background-color-alt)  5px 5px 10px;
                        }

                        .card-highlight {
                            border: 1px solid var(--secondary-color);
                        }

                        .card-item-small{
                            padding: 5px;
                        }

                        .card-item {
                            background-color: var(--background-color-alt);
                            padding: 10px;
                        }
                        
                        .card-item-large {
                            flex-direction: column;
                            flex-grow: 1;
                            width: 45%;
                            max-width: 500px;
                            padding: 10px;
                            text-justify: newspaper;
                            background-color: var(--background-color);
                            
                            @media (max-width: 768px) {
                                width: 80%;
                                max-width: none;
                            }
                            
                            span {
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                justify-content: center;
                                margin: 10px;

                                h3 {
                                    margin: 0 10px;
                                }
                            }

                            p {
                                margin: 10px;

                                @media (max-width: 768px) {
                                    margin: 0 10px 20px 20px;
                                }
                            }
                        }
                    }
                }
            }

            .flex-center {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                margin: 20px 0;

                .card-item {
                    padding: 15px;
                    display: flex;
                    align-items: center;
                    list-style: none;
                    gap: 5px;
                }
            }
            
            @media (max-width: 768px) {
                padding: 10px;
                margin: 0 5vw;
                
                i {
                   img{
                        background: var(--text-color);
                        padding: .15rem;
                        margin: 0;
                        border-radius: 1vw;
                        width: 7vw;
                        min-width: 30px;
                    } 
                } 
            }

            i {
                img{
                    background: var(--text-color);
                    padding: .2rem;
                    margin: 0;
                    border-radius: .5vw;
                    width: 4vw;
                }
            }
        }

        footer {    
            display: flex;
            min-height: 10vh;
            background: var(--background-color);
            border-top-right-radius: 2vw;
            border-top-left-radius: 2vw;
            color: #fff;
            text-align: center;
            justify-content: center;
            justify-items: center;
            padding: 10px 0;
            gap: 10px;
        }
    }
}

