/* Variáveis de cores e fontes */
:root {
    --primary-color: #4e65b1;
    --secondary-color: #35ddff;
    --background-color: #061547;
    --background-color-alt: #142d80;
    --text-color: #f1f1f1;
    --text-color-alt: #a3f4ff;
    --font-family: 'Arial', sans-serif;
    --header-height: 10vh;
}

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-color: var(--background-color-alt);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--font-family);
    color: var(--text-color);
    font-size: 1rem;
    background: linear-gradient(140deg, var(--primary-color), var(--background-color-alt), var(--background-color));
    line-height: 1.6;
    min-height: 100vh;
}

p {
    text-overflow: clip;
    text-align: justify;
}

a {
    color: var(--text-color-alt);
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--text-color);
}

hr {
    color: var(--secondary-color);
    border-width: 2px;
    border-radius: 10%;
}

/* Estilo do header */
header {
    background: linear-gradient(70deg, var(--primary-color), var(--background-color));
    color: #fff;
    width: 100vw;
    min-height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom: var(--secondary-color) 2px solid;
    border-right: var(--secondary-color) 2px solid;
    border-bottom-right-radius: 2vw;
}

header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li a {
    color: var(--text-color-alt);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #000;
}

/* Seções principais */
main {
    min-height: 80vh;
    padding: 20px;
    margin: 0 10vw;
}

section {
    margin-bottom: 40px;
}

section h1, section h2, section h3 {
    color: var(--secondary-color);
    margin-bottom: 10px;
}

section p {
    margin-bottom: 10px;
}

.section-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.section-list-item, .section-list-item a {
    display: flex;
    align-items: center;
    list-style: none;
}

i img{
    background: var(--text-color);
    padding: .2rem;
    margin: 0 1vw;
    border-radius: .5vw;
    width: 4vw;
}

/* Estilo do footer */
footer {    
    display: flex;
    min-height: 10vh;
    background: var(--background-color);
    border-top-right-radius: 2vw;
    border-top-left-radius: 2vw;
    color: #fff;
    text-align: center;
    justify-content: center;
    justify-items: center;
    padding: 10px 0;
}

/* Estilo do botão do menu */
.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 2rem;
    color: var(--text-color);
    cursor: pointer;
}

/* Sistema responsivo */

@media (max-width: 768px) {
    body {
        font-size: 1.15rem;
    }

    main {
        padding: 10px;
        margin: 0 5vw;
    }

    .menu {
        display: none;
        flex-direction: column;
        background: var(--primary-color);
        position: absolute;
        top: var(--header-height);
        right: 0;
        width: 100%;
        padding: 10px 0;
    }

    .menu-item {
        text-align: center;
        padding: 10px 0;
    }

    .menu-toggle {
        display: block;
    }

    .menu.active {
        display: flex;
    }

    i img{
        background: var(--text-color);
        padding: .25rem;
        margin: 0 2vw;
        border-radius: 1vw;
        width: 7vw;
    }

    .section-list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

}

/* Containers */

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    flex-direction: column;
}

